<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./head.ejs') %>

    <title>User</title>
</head>
<body>
   
<div class="container">

  <!-- Modal -->
 
  
     <div class="container">
         
            <form action="/loginpost" method="post">
               
                 
                <div class="mb-3">
                  <label for="emailuserid" class="form-label">User Email</label>
                  <input type="email" name='email'class="form-control" id="emailuserid" aria-describedby="emailHelp">
                  
                </div>
               
                <div class="mb-3">
                  <label for="passwordid" class="form-label">Password</label>
                  <input type="password" name="password" required class="form-control" id="passwordid" >
                  
                </div>
                <div class="container">
                  <% if (message.length > 0) { %>
                      <div class="alert alert-danger" role="alert">
                          <%= message %>
                      </div>
                  <% } %>
                <div class="modal-footer">
                 
                    <button type="submit" id="postuser" class="btn btn-primary">Login</button>
                  </div>
                
              </form>
        </div>
        
    
  

<div>
    <%- include('./tail.ejs') %>
    <script src="../public/login.js"></script>
</body>
</html> 