<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Inventory</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/vendor">Vendor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customer">Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">Users</a>
          </li>
        
          <li class="nav-item ">
            <div class="container" style="text-align: center;margin: .1rem .1rem;" >
         <div>
              <h5 class="fas fa-user"></h5>
            </div>
            <div>              
            <a class="nav-link" href="/logout">Logout(<%= user.name %>)</a>
          </div>
        </div>
            
          </li>

        </ul>
      </div>
    </div>
  </nav>